ОИТ(2 семестр)/XML 2/XML схема.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="specialty">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="university"> 
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name = "name" type="xs:string"/>
                        <xs:element name = "city" type="xs:string"/>
                        <xs:element name = "points" type="xs:string"/>
                        <xs:element name = "plan" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>